body {
	background-color: #000 !important;
	margin: 0;
	padding: 0;
	font-family: 'Chakra Petch', sans-serif !important;
}

:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: none;
}


::-webkit-input-placeholder {
	/* Edge */
	color: #ffffff !important;
}

 :-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #ffffff !important;
}

 ::placeholder {
	color: #ffffff !important;
}

img {
	max-width: 100%;
	width: 100%;
}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}
:focus:not(:focus-visible) {
	outline: 0px !important;
  }
  .btn-check:focus + .btn, .btn:focus {
    outline: 0;
    box-shadow: none;
}