body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Chakra Petch', 'Open Sans',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner_section {
  background-image: url("/src/assets/banner_bg.png");
}

.play_section {
	background-image: url("/src/assets/play_banner.png");
}
.join_section {
	background-image: url("/src/assets/play_banner.png");
  
}
.login_section {background-image: url("/src/assets/nw-thumb_1.jpg");
}